@model IEnumerable<BartenderMVCRutter.Models.Drink>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrinkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DrinkID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DrinkID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DrinkID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
